/* Fight Scene */
@font-face {
    font-family: 'joystix';
    src: url('../fonts/joystix_monospace-webfont.woff2') format('woff2'),
         url('../fonts/joystix_monospace-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

audio {
	display: block;
	height: 50px;
	width: 30%;
	margin: auto;
}

header {
	font-family: 'joystix', Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
}

div.wrapper {
	display: grid;
	grid-gap: 10%;
	grid-template-areas: "character1 character2 character3";
	height: 80vh;
	width: 80vw;
	margin: auto;
}
#fight {
	display: grid;
	grid-gap: 10%;
	grid-template-areas: "character1 character3";
	grid-template-columns: 1fr 1fr;
	height: 70vh;
	width: 80vw;
	margin: auto;
}
.playerSelection{
    height: 50px;
    width: 50px;
    position: absolute;
    border: 3px solid blue;
    top: 44%;
    left: 46%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
.computerSelection{
    height: 50px;
    width: 50px;
    position: absolute;
    border: 3px solid red;
    top: 53%;
    left: 48%;
    background-image: url("../media/blank.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.character1 {
	grid-area: character1;
	font-size: 20px;
	border: 5px solid black;
	height: 100%;
	display: inline-block;
	background-image: url("../media/fighter1.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 51% 50%;
	background-color:rgba(255, 255, 255, 0.5);
}
.character2 {
	grid-area: character2;
	font-size: 20px;
	border: 5px solid black;
	height: 100%;
	display: inline-block;
	background-image: url("../media/fighter2.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 49% 50%;
}
.character3 {
	grid-area: character3
	font-size: 20px;
	border: 5px solid black;
	height: 100%;
	display: inline-block;
	background-image: url("../media/fighter3.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 51% 50%;
}

.bear {
	grid-area: character3;
	font-size: 20px;
	border: 5px solid black;
	height: 100%;
	display: inline-block;
	background-image: url("../media/bear.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 51% 50%;
}
.chosen{
	grid-area: character1;
}
.notChosen {
	display: none;
}
ul li{
	display: inline-block;
}
.choices {
	display: block;
	width: 100%;
	margin: auto;
}
.scissorsLi{
	clear: right;
}
#backToCharSelect {
	float: right;
}
button {
	cursor: pointer;
    position: relative;
    top: 93%;
    left: 0;
    border: 3px solid #4CAF50;
    background-color: #4CAF50;
    font-size: 16px;
    font-weight: bold;
    color: white;
    height: 7%;
    width: 100%;
}
button:hover {
    border: 3px solid #4CAF50;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    color: red;
    text-shadow: 0 0 20px #000000;
}

.opacityCharacter1 {
	background-color: rgba(0, 0, 0, 0.78);
	position: relative;
	height: 93%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9;
}
.opacityCharacter2 {
	background-color: rgba(0, 0, 0, 0.78);
	position: relative;
	height: 93%;
	width: 100%;
	top: 0;
	left: 0;
}
.opacityCharacter3 {
	background-color: rgba(0, 0, 0, 0.78);
	position: relative;
	height: 93%;
	width: 100%;
	top: 0;
	left: 0;
}
.wrapper div {
	transition: all 0.5s ease-out;
}
#choose:hover {
	position: fixed;
	height: 80%;
	width: 80%;
	z-index: 10;
	transform: scale(1.1);
}

#choose:hover .opacityCharacter1, #choose:hover .opacityCharacter2, #choose:hover .opacityCharacter3{
	display: none;
}

@media screen and (max-width: 600px){
	.character1:hover, .character2:hover, .character3:hover {
	position: fixed;
	top: 80px;
	height: 80%;
	width: 80%;
	z-index: 10;
	transform: scale(1.1);
	}
	button {
	cursor: pointer;
    position: relative;
    top: 90%;
    left: 0;
    border: 3px solid #4CAF50;
    background-color: #4CAF50;
    font-size: 16px;
    font-weight: bold;
    color: white;
    height: 7%;
    width: 100%;
}
}
@media screen and (max-width: 519px){
	.character1:hover, .character2:hover, .character3:hover {
	position: fixed;
	top: 120px;
	height: 80%;
	width: 80%;
	z-index: 10;
	transform: scale(1.1);
	}
	button {
    top: 81%;
    left: 0;
	}
	div.wrapper {
		grid-gap: 1%;
		margin-left: 12px;
	}
	html, body {margin: 0; height: 100%; overflow: hidden}
}